body{
	background-color:#F5F5F5;
	font-family:"times new roman";
	width:1000px;
}
h1{
	text-shadow:2px 1px 0px black;
	margin-left: 4em;
	font-family: Fantasy;
}
.header1{
	width:900px;
	border-bottom:5px solid grey;
	margin-left: 2em;
}
.side1{
	float:left;
	width:100px;
	height:1000px;
	margin-left:3em;
	padding-top: 10em;
	position:fixed;
}
.section1{
	float:right;
	width:700px;
	height:600px;
	border-left:2px solid grey;
	margin:2em;
	padding-left: 2em;
	margin-right: 4em;
}
.footer1{
    border-top:5px solid grey;
    height:100px;
    text-align: right;
    width:920px;
    float: right;
    margin-right: 4em;
    font-size: 12px;
    padding-top: .5em;
}  
.header2{
	width:900px;
	border-bottom:5px solid grey;
	margin-left: 2em;
} 
.aside1{
	float:left;
	width:250px;
	height:350px;
	margin:1em;
}
.aside2{
	float:left;
	width:250px;
	height:350px;
	margin:1em;
}
.aside3{
	float:right;
	width:250px;
	height:350px;
	margin-top:1em;
	margin-right:2em;
	
}
.footer2{
	border-top:5px solid grey;
	float:left;
	width:900px;
	margin-bottom: 3em;
}
.copyright{
	float:right;
	font-size:12px;
	padding-top:.5em;
}
.image1{
	width:300px;
	height: 200px;
	margin-left:2em;
	float:left; 
	margin-top: 4em;
}
.image2{
	width:300px;
	height: 200px;
	margin-left:1.5em;
	float:left;
	margin-top: 4em;

}
.image3{
	width:300px;
	height: 200px;
	margin-left:1.5em;
	float:right;
	margin-top: 4em;
}
.image4{
	width:300px;
	height: 200px;
	margin-left:2em;
	float:left; 
	margin-top: 3em;
}
.image5{
	width:300px;
	height: 200px;
	margin-left:1.5em;
	float:left; 
	margin-top: 3em;
}
.image6{
	width:300px;
	height: 200px;
	margin-left:1.5em;
	float:right; 
	margin-top: 3em;
}			












